.menu-header { 
font-family: Arial;
font-style: italic;
font-weight: bold;
font-size: 15px;
font-variant: small-caps;
color: #AF1A1A; 
}
.menu-entry {
    height: 14px;
}
.menu-entry a { 
font-family: Arial;
font-weight: bold;
font-size: 12px;
}
.menu-entry a:link { 
color: #000000; 
text-decoration: none;
}
.menu-entry a:visited { 
color: #000000; 
text-decoration: none;
}
.menu-entry a:hover { 
color: #000000; 
text-decoration: underline;
}
.menu-entry a:active { 
color: #000000; 
text-decoration: underline;
}
.menu-entry a:focus { 
color: #000000; 
text-decoration: underline;
}

.gallery {
    border: 1px solid white;
    box-shadow: 5px 5px black, 5px 5px 1px 1px white, 10px 10px black, 10px 10px 1px 1px white;
    margin-bottom: 11px;
    margin-right: 11px;
}

.gallerybox {
    float: left;
    margin: 5px;
    text-align: center;
    width: 200px;
    height: 200px;
}

.gallery_back {
    clear: both;
    border-top: 1px solid white;
    padding-top: 5px;
}