<link rel="copyright"     title="Slogodd Orks"      href="http://www.slogodd.de/impressum.html"       />
<link rel="start"         title="Start"             href="http://www.slogodd.de/"                     />
<link rel="author"        title="Kontakt"           href="http://www.slogodd.de/impressum.html"       />
<link rel="home"          title="home:Slogodd Orks" href="http://www.slogodd.de/"                     />
<link rel="search"        title="Suche"             href="http://www.slogodd.de/wiki/SearchPages"     />
<link rel="section"       title="News"              href="http://www.slogodd.de/wiki/"                />
<link rel="section"       title="&Uuml;ber uns"     href="http://www.slogodd.de/wiki/UeberUns"        />
<link rel="section"       title="Mitglieder"        href="http://www.slogodd.de/wiki/Mitglieder"      />
<link rel="section"       title="Hintergrund"       href="http://www.slogodd.de/wiki/Hintergrund"     />
<link rel="section"       title="Veranstaltungen"   href="http://www.slogodd.de/wiki/Veranstaltungen" />
<link rel="section"       title="Galerie"           href="http://www.slogodd.de/galerie/index.php"    />
<link rel="section"       title="Ahnen"             href="http://www.slogodd.de/wiki/Ahnen"           />
<link rel="section"       title="Con Berichte"      href="http://www.slogodd.de/wiki/ConBerichte"     />
<link rel="section"       title="Kochbuch"          href="http://www.slogodd.de/wiki/Kochbuch"        />
<link rel="section"       title="Gedichte / Reime"  href="http://www.slogodd.de/wiki/Reime"           />
<link rel="section"       title="Orga"              href="http://www.slogodd.de/orga.html"            />
<link rel="section"       title="Links"             href="http://www.slogodd.de/wiki/Linkliste"       />
<link rel="section"       title="Download"          href="http://www.slogodd.de/wiki/Downloads"       />
<link rel="section"       title="AGB"               href="http://www.slogodd.de/agb.html"             />
<link rel="section"       title="Impressum"         href="http://www.slogodd.de/impressum.html"       />
<link rel="bookmark"      type="text/html"          title="Homepage der Slogodd Orks. Ein LARP Ork-Stamm aus Kerfrek." href="http://www.slogodd.de" />
<link rel="shortcut icon" type="image/x-icon"       href="http://www.slogodd.de/favicon.ico" />
<meta name="description"  content="Homepage der Slogodd Orks. Ein LARP Ork-Stamm aus Kerfrek, Mitglied des Irgashbundes." />
<meta name="keywords"     content="Ork, LARP, orc, Kerfrek, larp, Slogodd, Stamm, Muenchen, Orks, Irgash, Irgasch, Irgashbund, Irgaschbund"   />
<meta name="copyright"    content="Slogodd Orks" />
<meta name="rating"       content="Safe For Kids" />
<meta name="distribution" content="Global" />
<meta http-equiv="Content-Language" content="DE" />
<meta name="author"       content="Die Slogodd Orks" />
<meta name="revisit-after" content="7 days" />
<meta name="copyright"    content="Copyright by Christian Mayer" />
<meta charset="UTF-8">

<base target="_top" />
<title>Slogodd Orks - der LARP Ork Stamm aus Kerfrek: {{ page.title }}</title>

<style><!--
body           { color: #FFFFFF; background-color: #000000; }
div#heading    { text-align: center; }
div#menu-left  { float: left;  width: 200px; margin: 0; padding: 0;}
div#menu-right { float: right; width: 200px; margin: 0; padding: 0;}
div#content    { margin-left: 200px; margin-right: 200px; }
.text-body {
    font-family: arial,sans-serif;
    font-size:14px;
  }
.text-body h3 {
    font-size:22px;
  }
a:link    { font-weight:bold; color:#4444FF; text-decoration:none }
a:visited { font-weight:bold; color:#9944FF; text-decoration:none }
a:hover   { text-decoration:underline }
a:active  { text-decoration:underline }
a:focus   { text-decoration:underline }
img { padding: 5px; }

table, th, td {
  border: 1px solid grey;
  border-collapse: collapse;
}
.image-left {
  float:left
}
--></style>
<link rel="stylesheet" type="text/css" href="/css/menu.css">
