<div id="menu-right">
    <div style="background: url(/media/menu-rechts.png); width: 191px; height: 586px;">
      <div style="text-align: center; width: 95px; padding-left: 55px;">
	<div style="height: 250px">&nbsp;</div>
	<div class="menu-header">Kontakt</div>
	<!-- <div class="menu-entry"><a href="https://www.slogodd.de/phpBB3/index.php" target="_new"      >Forum</a></div> -->
	<!-- <div class="menu-entry"><a href=""                       >G&auml;stebuch</a></div> -->
	<div class="menu-entry"><a href="/orga.html"              >Orga</a></div>
	<div class="menu-entry"><a href="/impressum.html"         >Webmaster</a></div>
	<div style="height: 20px">&nbsp;</div>
	<div class="menu-header">Sonstiges</div>
	<div class="menu-entry"><a href="/wiki/Linkliste"         >Links</a></div>
	<div class="menu-entry"><a href="/wiki/Downloads"         >Download</a></div>
	<div class="menu-entry"><a href="/download/orkregeln.doc" >Regelwerk</a></div>
	<br/>
      </div>
      <div style="text-align: center; width: 95px; padding-left: 70px;">
	<div style="height: 65px">&nbsp;</div>
	<div class="menu-header">Rechtliches</div>
	<div class="menu-entry"><a href="/agb.html"               >AGB</a></div>
	<div class="menu-entry"><a href="/impressum.html"         >Impressum</a></div>
	<div class="menu-entry"><a href="/impressum.html"         >Datenschutz</a></div>
      </div>
    </div>
</div>
