<div id="menu-left">
    <div style="background: url(/media/menu-links.png); width: 199px; height: 618px;">
      <div style="text-align: center; width: 100px; padding-left: 20px;">
	<div style="height: 200px">&nbsp;</div>
	<div class="menu-header">Hauptmen&uuml;</div>
	<div class="menu-entry"><a href="/"                    >News</a></div>
	<div class="menu-entry"><a href="/wiki/UeberUns"       >&Uuml;ber uns</a></div>
	<div class="menu-entry"><a href="/wiki/Mitglieder"     >Mitglieder</a></div>
	<div class="menu-entry"><a href="/wiki/Hintergrund"    >Hintergrund</a></div>
	<div class="menu-entry"><a href="/wiki/Veranstaltungen">Veranstaltungen</a></div>
	<div class="menu-entry"><a href="/galerie/index.php" target="_new">Galerie</a></div>
	<div class="menu-entry"><a href="/wiki/Ahnen"          >Ahnen Galerie</a></div>
	<div class="menu-entry"><a href="/wiki/ConBerichte"    >Con Berichte</a></div>
        <div class="menu-entry"></div>
	<div class="menu-header">Orkisches</div>
	<div class="menu-entry"><a href="/wiki/Kochbuch"       >Kochbuch</a></div>
	<div class="menu-entry"><a href="/wiki/Reime"          >Gedichte / Reime</a></div>
      </div>
    </div>
</div>