<!DOCTYPE html>
<html lang="de">
  <head>{% include head.html %}</head>
  <body>
    <div id="heading">
      <a href="https://www.slogodd.de/" target="_top"><img src="https://www.slogodd.de/media/slogodd-banner.png"
                                                          alt="Slogodd Orks - der LARP Ork Stamm aus Kerfrek"
                                                          title="Slogodd Orks - der LARP Ork Stamm aus Kerfrek"
                                                          longdesc="https://www.slogodd.de/" border="0" /></a>
    </div>
    <div id="menu-left">{% include menu-links.html %}</div>
    <div id="menu-right">{% include menu-rechts.html %}</div>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>